.account-container {
    padding: 3.5%;
    text-align: center;
}
.account-main-paper {
    padding: 5%;
    border-radius: 10px;
}
.edit-button {
    margin-right: 1% !important;
}

.signup-button {
    margin-left: 1% !important;
}