.createRoom-container {
    padding: 1.5%;
    text-align: center;
    max-width: 90vw !important;
}
.createRoom-main-paper {
    padding: 1%;
    border-radius: 10px;
}
.edit-button {
    margin-right: 1% !important;
}

.signup-button {
    margin-left: 1% !important;
}
