.password-reset-container {
    padding: 10%;
    text-align: center;
}
.passreset-main-paper {
    padding: 5%;
    border-radius: 10px !important
}
.verify-button {
    margin-right: 5px !important;
}

.check-icon {
    margin-top: 2%;
}